* {
  font-family: "Roboto"  sans-serif;
}

h1 {
    color:blue;
    font-size: 40px;
    font-weight: 800;
    font-style:italic;
    text-align: center;
    text-decoration: line-through;
    text-transform: capitalize;
}

.header {
    background-color: black;
}

.body {
      background-color: brown;
      padding: 30px;
      border: 10px solid lime;
}

h1:hover {
  color: blue;
  font: size 50px;
  background-color: brown;
}

@media (max-width:700px) {
  body {
    background-color:green;
  }
}
